.indexallmovies {
    padding: 20px;
    padding-top: 5rem;
    text-align: center;
}

.indexallmovies h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.indexulmovies {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indexulmovies li {
    margin: 10px;
    width: 200px;
    text-align: center;
}

.indexulmovies img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.indexulmovies img:hover {
    transform: scale(1.05);
}

.indexulmovies h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

/* allFiltersPart */

.allfilters {
    display: flex;
    justify-content: center;
    padding-top: 11rem;
}

/* filterMoviesPart */

.filtermovies{
    justify-content: center;
}

.filtermoviesselect{
    display: flex;
    justify-content: center;
}

.filtermoviesselect select{
    padding: 0.5rem;
    margin: 0 2rem;
}

/* filterRankpart */

.filterrank{
    justify-content: center;
}

.filterrankselect{
    display: flex;
    justify-content: center;
}

.filterrankselect select{
    padding: 0.5rem;
    margin: 0 2rem;
}